{% extends "pagina/base.html" %}

{% block content %}
    
<div id="contenido" class="container-fluid">
            <div id="principal" class="container-fluid">
                <div class="row">
	 
	 <h2><b>Técnico en Programación.</h2></b><br>
                    <h3>Perfil Profesional: </h3>
	 <div class="well">
		 <p>
			El Tecnico en Programación se forma con el objetivo de insertarse ocupacionalmente en distintos tipos de organizaciones donde se realiza desarrollo de software, ya sea por requerimiento de otras organizaciones locales, extranjeras o por solicitud de usuarios particulares. Entre dichas organizaciones se cuentan empresas que proveen software conjuntamente con servicios de asesoramiento y consultoría, y que desarrollan sus propios productos para vender en el país o en el exterior. Por otro lado el profesional adquiere los conocimientos especificos en el area de las telecomunicaciones, la electronica, robotica, etc.<br><br>
            <a href="perfilinformatica.pdf"><button class="btn-warning">Descargar Perfil Profesional Completo</button></a>
		 </p>
	 </div>
	 
	 <h2>Materias</h2>
      <div class="well">
        <div class="row test">
            <div class="col-md-12">
                <div class="col-md-8 col-sm-12" style="margin:0 !important; padding:0 !important;">
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <img src="img/programacion.jpg" style="height: 340px;">
                            <div class="caption">
                                <h3>Programación</h3>
                                <p>En esta materia aprenderas desde la logica algorítmica mas básica, a como
                                    desarrollar pequeños sistemas funcionales en una variedad de lenguajes de programación.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <img src="img/redes.jpg" style="height: 340px;">
                            <div class="caption">
                                <h3>Redes</h3>
                                <p>En esta materia aprenderas todo lo relacionado con el diseño e implementación de las redes:
                                    Topologías, Routeado, Equipamiento, Modelo OSI, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/uml.png" style="height: 340px;">
                        <div class="caption">
                            <h3>Modelos y Sistemas</h3>
                            <p>En esta materia aprenderás multitud de herramientas que te ayudarán a diseñar sistemas
                                de una forma eficiente. Diagramas de Gantt, PERT, DFD, etc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="img/web.png" style="height: 340px;">
                        <div class="caption">
                            <h3>Diseño Web</h3>
                            <p>Esta materia te enseñará todo lo necesario para que diseñes e implementes tus propias paginas web,
                                desde el HTML mas básico hasta hojas de cascada, Javascript y maquetación.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-8 col-sm-12" style="margin:0 !important; padding:0 !important;">
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <img src="img/electronica.jpg" style="height: 340px;">
                            <div class="caption">
                                <h3>Electrónica</h3>
                                <p>La base de cualquier computadora: compuertas lógicas y unos y ceros. Aquí aprenderás todo lo
                                    relacionado con la electrónica, desde lógica booleana hasta diseño de circuitos en PCB.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <img src="img/basedatos.jpg" style="height: 340px;">
                            <div class="caption">
                                <h3>Bases de Datos</h3>
                                <p>Con tanta información hoy en dia, necesitamos de herramientas como las Bases de Datos para
                                    organizarla. Aprende aquí todo lo relacionado con ellas, Diagramas ER, SQL, MySQL, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <a href="curriculainfo.pdf"><button class="btn-warning">Descargar Diseño Curricular</button></a>
                    </div>
                </div>

            </div>
        </div>
        </div></h2></div></div></div>
    </div> <!-- /container -->

{% endblock %}