{% extends "pagina/base.html" %}

{% block content %}

 <div id="contenido" class="container-fluid">
            <div id="principal" class="container-fluid">
                <div class="row">
                    <h2>
                        Formulario de contacto
                    </h2>
                    <hr>


                    <div class="col-md-6">
                        <div class="well">
                            <form role="form">
                                <div class="form-group">
                                    <label for="ejemplo_nombre_1">Nombre:</label>
                                    <input type="nombre" class="form-control" id="ejemplo_nombre_1" placeholder="Introduce tu nombre">
                                </div>
                                <div class="form-group">
                                    <label for="ejemplo_apellido_1">Apellido:</label>
                                    <input type="apellido" class="form-control" id="ejemplo_apellido_1" placeholder="Introduce tu apellido">
                                </div>
                                <div class="form-group">
                                    <label for="ejemplo_telefono_1">Telefono:</label>
                                    <input type="telefono" class="form-control" id="ejemplo_telefono_1" placeholder="Introduce tu telefono">
                                </div>
                                <div class="form-group">
                                    <label for="ejemplo_email_1">Correo:</label>
                                    <input type="correo" class="form-control" id="ejemplo_email_1" placeholder="Introduce tu correo">
                                </div>
                                <div class="form-group">
                                    <label for="Mensaje">Mensaje:</label>
                                    <textarea style="max-width:85%;" name="mensaje" class="form-control" rows="3" cols="42" placeholder="Escribe aquí tus comentarios"></textarea>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-default">Enviar</button>
                            </form>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.9587317611085!2d-56.71455940773044!3d-36.53098998000991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDMxJzUxLjYiUyA1NsKwNDInNDQuNSJX!5e0!3m2!1ses-419!2sar!4v1468540183141" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        
                        <div class="well">
                            <p><strong>Direccion: </strong> Calle 104 y 124 (Santa Teresita)</p>
                            <p><strong>Telefono: </strong> 02246 - 420-535</p>
                            <p><strong>Telefono/Fax: </strong> 02246 - 423-529</p>
                            <p><strong>e-mail: </strong> eest1lacosta@gmail.com</p>
                        </div>
                    </div>
                </div>

            </div>
    </div>

      
    </div> <!-- /container -->
    <footer>
                       <div class="hidden-sm hidden-xs col-md-3 text-center" style="padding-top:15px;">
                           <img src="img/blancologo.png" width="90" height="90" alt="">
                       </div>
                       <div class="col-xs-12 col-sm-4 col-md-3">
                            <!-- En resoluciones medianas/grandes. Lista de los elementos -->
                            <div class="hidden-xs">
                                <div style="width:95%; margin-left:5%;">
                                <strong>DATOS DE CONTACTO:</strong><br><br>
                                <strong>Dirección:</strong> Calle 104 y 124. Santa teresita <br>
                                        <strong>Teléfono:</strong> (02246) 420535 <strong>Fax:</strong> 423529 <br>    
                                        <strong>E-mail:</strong> eest1lacosta@gmail.com
                                </div>
                            </div>

                            <!-- En resoluciones chicas. Botón desplegable -->
                            <span class="visible-xs">
                                <ul class="nav navbar-nav listaFooter">
                                 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle botonFooter" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> DATOS DE CONTACTO:<span class="caret"></span></a>
                                    <ul class="dropdown-menu" style="margin-left:25px;">
                                        <li><strong>Dirección:</strong> Calle 104 y 124. Santa teresita</li>
                                        <li><strong>Teléfono:</strong> (02246) 420535 <strong>Fax:</strong> 423529</li>
                                        <li><strong>E-mail:</strong> eest1lacosta@gmail.com</li>
                                    </ul>
                                </li></ul>
                            </span>
                       </div>
                       {% endblock %}