<nav class="navbar navbar-default navbar-static-top text-center">
    <div id="navbar-container" class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a class="navbar-brand navbar-left" href="index.php">
                <div id="logo" class="hidden-xs">
                    <img src="/img/logoblanco.png" width="90" height="90" alt="">
                </div>
                <div id="logo-small" class="visible-xs">
                    <img src="/img/logoblanco.png" alt="">
                </div>
            </a>
            <a class="navbar-brand" href="index.php">
                <p class="hidden-xs" style="text-weight: bold;">Escuela de Educación Secundaria Técnica Nº 1 "Raúl Scalabrini Ortiz"</p>
                <p class="visible-xs">EESTNº1</p>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.php">Inicio</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orientaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/basico">Ciclo Basico</a></li>
                        <li><a href="/informatica">Informática</a></li>
                        <li><a href="/construccion">Construcción</a></li>
                        <li><a href="/turismo">Turismo</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Institucional <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="noticias.html">Historia</a></li>
                        <li><a href="autoridades.html">Autoridades</a></li>
                        <li><a href="calendario.html">Calendario</a></li>
                        <li><a href="inscripcion.html">Inscripción</a></li>
                    </ul>
                </li>
                <li><a href="noticias.html">Proyectos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>